body
{
    background-color: rgb(212, 232, 233);
    font-size: 15px;
    font: Calibri, sans-serif;  
}

#painel
{
    background-color: rgba(54, 169, 214, 0.356);
    margin: auto;
    text-align: center;
    padding: 10px;
    font: normal 15pt Impact;   
    border-radius: 20px;
    margin-bottom: 50px;
}   

#das
{
    display: flex;
    justify-content: center;
    background-color: rgba(54, 169, 214, 0.616);
    margin: auto;
    width: 1000px;
    padding: 25px;
    border-radius: 20px;
    
    
}

#cadastro
{
    font: normal 13pt Impact;
    margin: 20px;
}
input[type="text"], input[type="date"], input[type="email"]
{
    border-radius: 10px;
    width: 200px;
}
textarea
{
    border-radius: 10px;
}
select
{
    border-radius: 20px;
}
#tabela
{
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#tabela h2
{
    background-color: rgb(54, 169, 214);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    
}
td
{
    font-size: 15px;
    padding: 15px;
    border: 10px;
    
}
th
{
    font-size: 15px;
    padding: 15px;
   
}
table
{
    border-radius: 20px;
    border: 10px;
}