    body
        {
        
            background: 
                linear-gradient(rgb(20, 0, 34), rgba(10, 0, 10, 0.548)), 
                url('https://media1.tenor.com/m/M4T6_KH_GWMAAAAd/calma-calabreso-calma-calma-calabreso.gif;');
            background-size: cover;
            background-position: center;
            font: normal 15pt Calibri;
            color: white;
        
        }

    #centro
        {
            text-align: center;
            background-color: rgba(70, 14, 201, 0.384);
            border-radius: 10px;
            padding: 15px;
            width: 500px;
            margin: auto;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
            margin-top: 50px;
        }

    #alinhado 
        {
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
            padding: 20px;
            margin: auto;
        }   

    #item
        {
            text-align: center;
        }

    #item img
        {
            width: 200px;
            height: 200px;
            margin: auto;
            border-radius: 1000px;
        }
    #item p
        {
            margin-top: 10px;
            text-align: center;
            font-size: 30px;
        }

    #text
        {
            background-color: rgba(21, 10, 48, 0.664);
            border-radius: 100px;
            padding: 25px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
            height: 300px;
            text-align: left;
            display: flex;
            
        }
   
    #text p 
        {
            text-align: justify;
            font-size: 24px;
            padding: 24px;
        }   

    #text img
        {
            width: 250px;
            height: 250px;
            border-radius: 1000px;
        }
    
    #texto
        {
            font-size: 20px;
        }
    
    #cabeçalho
        {
            text-align: center;
        }

    #cabeçalho2
        {
            text-align: center;
            background-color: rgba(70, 14, 201, 0.384); 
            width: 600px;
            border-radius: 100px;
            margin: auto;
            padding: 5px;
            box-shadow: black 3px 3px 10px;
            
            
        }
        
        #cabeçalho2 h1
        {
            font: normal 50px Impact;
            font-size: 50px;
            color: white;
            text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
            margin-bottom: 5px;   
        }

        #cabeçalho2 h2
        {
            font: normal 30px Impact;
            font-size: 30px;
            color: white;
            text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
            margin-top: 5px;
        }
    
        #cabeçalho3
        {
            font-size: 20px;
            color: white;
            text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
            line-height: 1;
            padding: 15px;
        }
    
        #conteiner
        {
            background-color: rgba(70, 14, 201, 0.774);
            justify-content: center;
            margin: auto;
            padding: 1px;
            width: 400px;
            border-radius: 100px;
            line-height: 0.5;
            margin-bottom: -50px;       
            transform: translate(0); 
            box-shadow: rgba(0, 0, 0, 0.6);
        }